<h1>This is the Property Index page</h1>

<% @properties.each do |property| %>

	<h2><%= link_to property.name, property %></h2>

<% end %>

<%= link_to 'New Property', new_property_path, class: "btn btn-default" %>