<%= simple_form_for @proposal do |f| %>
  <h3>Tasks</h3>
  <div id='tasks'>
    <%= f.simple_fields_for :lineitems do |lineitem| %>
      <%= render 'lineitem_fields', f: lineitem %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add line item', f, :lineitems %>
    </div>
  </div>
<% end %>

