<div class='nested-fields'>
    <%= f.input :name,   collection: ProposalItem.all() %>
    <%= f.input :price, proposal_item["price"] %>
    <%= link_to_remove_association "remove item", f, class: "btn btn-danger"%>
</div>
