@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";
@import "bootswatch";


/* miscellaneous */

abbr[title="required"] {
  display: none;
}

.task-button {
  margin-bottom: 5px;
}

/* panels */

.panel .panel-heading {
  font-size: 2em;
  font-weight: bold;
}

.panel .panel-footer {
  margin-bottom: 0;
}

.navbar-default .navbar-text {
  color: #fff;
}

/* nav */

//This removes the hover and all other events from a link - used for name element
.no-pointer {
  pointer-events: none;
}

/* line items */

tr {
  height: 30px;
}

th:first-child {
  width: 80%;
}















