@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";
@import "bootswatch";


/* miscellaneous */

abbr[title="required"] {
  display: none;
}

/* panels */

.panel .panel-heading {
  font-size: 2em;
  font-weight: bold;
}

.panel .panel-footer {
  margin-bottom: 0;
}

/* flash message formatting */

.alert {
  margin-bottom: 0;
  ul {
    list-style: none;
  }
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}


